@import "/styles/utils/colors";
@import "/styles/utils/border-radii";

.container {
  position: fixed;
  z-index: 996;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 100vw;
  height: 8vh;
  padding-inline: 2vw;
  padding-block: 1rem;
  color: $primary;
  background-color: $secondary;
  border-bottom: solid 3px $primary ;
  text-transform: uppercase;

  @media (max-width: 768px) {
    padding-inline: 1.5rem;
    margin-top: 0;
    border: 0;
    border-bottom: solid 3px $primary;
    border-radius: 0;
  }
  .menuButton {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .logo {
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    flex: 1;
  }
  .logOutBtn {
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 2px 2px 0px 0px $primary;
    background: $secondary;
    border: solid $primary 2px;
    border-radius: $rounded;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    & > * {
      color: $danger;
    }
    p {
      font-weight: bold;
      font-size: 0.8rem;
      text-transform: uppercase;

      @media (max-width: 768px) {
        display: none;
      }
    }

    &:hover {
      background-color: $danger;
      & > * {
        color: $secondary;
      }
      transform: translate(-4px, -4px);
      box-shadow: 4px 4px 0px 0px $primary;
    }
  }
}
