@import '/styles/utils/fonts';

.container {
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 996;
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 4vh;
  color: whitesmoke;
  background-color: #1d1d1bcc;

  .logo {
    font-family: 'Telegraphem', sans-serif;
    font-weight: 600;
    font-size: 2rem;
  }
}
