@import "@/styles/utils/border-radii";
@import "@/styles/utils/colors";

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  width: 100vw;
  background-color: $secondary;
  border-top: $primary 3px solid;
  box-shadow: 0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12), 0px 8px 10px -7px rgba(0, 0, 0, 0.2);

  @media (min-width: 769px) {
    display: none;
  }

  .FAB {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    background-color: $accent-2;
    border-radius: $rounded-2xl;
    border: 1px $primary solid;
    box-shadow: 3px 3px 0 $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    cursor: pointer;
  }
}
