@import "../../styles/utils/mixins";

.container {
  @include container;

  .titleWrapper {
    z-index: 5;
    display: flex;
    position: relative;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    .title {
      @include title;
      z-index: 2;
    }
    svg {
      z-index: 1;
      position: absolute;

      &:nth-of-type(1) {
        //star
        right: 98%;
        top: 2rem;
      }
      &:nth-of-type(2) {
        //signup
        left: 70%;
        bottom: 75%;
      }
    }
  }
  .card {
    z-index: 4;
    @include card;
    .form {
      @include form;
      .signupBtn {
        @include btn;
      }
    }
  }
  .loginText {
    font-weight: 400;
    span {
      text-decoration: underline;
    }
  }
  .branding {
    position: absolute;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30vw;
    font-weight: 700;
    opacity: 0.02;
    pointer-events: none;
  }
}
