// colors
$primary: #272727;
$danger: #b22e30;
$success: #52a980;
$misc: #33b9d4;

$paper-color: #ffffff;
$transparent: rgba(255, 255, 255, 0);
$paper-dark: #d7d7d7;

$tape-gray: #dbd8be;
$tape-edge-gray: #b7b49d;
