// colors
$primary: #272727;
$secondary: #ffffff;
$tertiary: #fff503;
$accent: #dd7dff;

$danger: #ff5d5d;
$success: #00ff75;
$misc: #3f38ff;
$accent-2: #d2fe28;
$disabled: #b4b4b4;
$global-bg: #ffffe6;

// $color-1: #bbffc2;
// $color-2: #A6FAFF;
// $color-3: #B8FF9F;
// $color-4: #ffc29e;
// $color-5: #FFA6F6;
// $color-6: #A8A6FF;
// $color-7: #FF9F9F;
// $color-8: #FFF59F;
// $color-9: #000000;
