@import "./fonts";
@import "./colors";

@mixin container {
  font-family: "Synonym", Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 2rem;
}

@mixin title {
  font-family: "Amulya", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

@mixin card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  width: 20rem;
  padding: 1.5rem;
}

@mixin form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;

  .formItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-size: 0.8rem;
    }
    .input {
      border-radius: $rounded;
      border: $primary solid 2px;
      box-shadow: 4px 4px 0px $primary;
      padding: 0.5rem;
      font-family: "Synonym", Helvetica, sans-serif;
      outline: none;
      transition: all 0.1s ease;
      &:hover,
      &:focus {
        translate: -3px -3px;
        border: $misc solid 2px;
        box-shadow: 6px 6px 0px 0px $primary;
      }
    }
  }
}
@mixin btn($bgColor: $misc, $color: $secondary) {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: $rounded;
  border: $primary solid 2px;
  background-color: $bgColor;
  box-shadow: 4px 4px 0px $primary;
  color: $color;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  font-family: "Synonym", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.1s ease;

  &:hover,
  &:focus {
    translate: -3px -3px;
    box-shadow: 6px 6px 0px 0px $primary;
  }
}

@mixin overlay {
  translate: 0;
  z-index: 1000;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.479);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1002;
  max-width: 70rem;
  width: max-content;
  border: solid 3px $primary;
  border-radius: $rounded-lg;
  padding: 1rem 2rem;
  background: $secondary;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
