@import '/styles/utils/colors';
@import '/styles/utils/fonts';

.container {
  background: linear-gradient(to bottom right, $paper-dark, 20%, $transparent),
    $paper-color;
  min-width: 250px;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 2px $paper-dark;

  padding: 2rem;
  margin: 0.5rem;
  position: relative;
  width: 100%;
  max-width: 22rem;
  height: 12rem;
  transition: all 0.1s ease-in;
  cursor: pointer;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 100%;
  }

  .pinned {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    padding: 0.2rem;
    border: 1px #1d1d1b54 solid;
    background-color: #f9f7f4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      rotate: -45deg;
    }
  }
  .title {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    word-break: break-all;
    font-family: 'Jackwrite', sans-serif;
    letter-spacing: 2px;
    line-height: 1.6em;
    font-weight: bolder;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
  }
  .body {
    font-family: 'Jackwrite', sans-serif;
    font-weight: lighter;
    opacity: 0.8;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        $transparent,
        50%,
        $paper-dark,
        51%,
        $transparent
      ),
      linear-gradient(
        to right,
        $transparent,
        50%,
        $paper-dark,
        51%,
        $transparent
      );
  }
}
