@import "/styles/utils/colors";
@import "/styles/utils/fonts";
@import "/styles/utils/border-radii";

.container {
  color: $primary;
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 2rem;
  margin: 0.5rem;
  position: relative;
  width: max-content;
  max-width: 22rem;
  border: solid 2px $primary;
  border-radius: $rounded-lg;
  box-shadow: $primary 5px 5px 0px;
  transition: all 0.1s ease-in;
  cursor: pointer;

  &:hover {
    translate: -3px -3px;
    box-shadow: $primary 9px 9px 0px;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
  }

  .pinned {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    padding: 0.2rem;
    border: 2px $primary solid;
    background-color: $accent;
    color: $secondary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    padding-bottom: 12px;
    font-family: "Amulya", sans-serif;
    line-height: 1.5em;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
  }
  .body {
    font-family: "Synonym", Helvetica, sans-serif;
    font-weight: 400;
    opacity: 0.8;
    font-size: 1.05rem;
    height: 100%;
    width: 100%;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
  }
}
