@import "@/styles/utils/mixins";
@import "@/styles/utils/border-radii";

.titleWrapper {
  z-index: 5;
  display: flex;
  position: relative;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  .title {
    @include title;
    z-index: 2;
  }
  svg {
    z-index: 1;
    position: absolute;

    &:nth-of-type(1) {
      //star
      right: 94%;
      top: 2rem;
    }
    &:nth-of-type(2) {
      //login
      left: 110%;
    }
  }
}

.card {
  z-index: 4;
  @include card;
  .form {
    @include form;

    .errorMessage {
      color: $danger;
      font-weight: 600;
    }
    .loginBtn {
      @include btn;
    }
  }
}
.signUpText {
  font-weight: 400;
  span {
    text-decoration: underline;
  }
}

.googleLoginButton {
  @include btn($secondary, $primary);
}

.divider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  .line {
    width: 100%;
    height: 2px;
    background-color: $disabled;
  }
  .or {
    position: absolute;
    padding: 3px;
    background-color: $global-bg;
    border-radius: $rounded;
    p {
      font-weight: 600;
    }
  }
}
