@import "/styles/utils/colors";

.megaContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  backdrop-filter: blur(7px);
  .container {
    max-width: 30rem;
    width: 75%;
    border: solid 3px $primary;
    border-radius: 5px;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.92);
    background-image: url(/bg.png);

    .form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0.5rem;
      .title,
      .body {
        background: transparent;
        border: none;
        padding: 1rem;
        outline: none;
        resize: none;
        border: 2px solid $primary;
        transition: all 0.1s ease;
        border-radius: 5px;

        &:focus,
        &:hover {
          border: 2px solid $accent;
        }
      }
      .title {
        font-family: "amulya", Helvetica Neue, sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      .body {
        font-family: "Synonym", sans-serif;
        font-weight: 400;
      }
      .toolBar {
        width: 100%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .toolsWrapper {
          width: 10%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;

          .pinned {
            cursor: pointer;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.1s ease-in;
            border: solid $primary 2px;
            border-radius: 5px;
            background-color: $misc;
            box-shadow: 2px 2px 0px 0px $primary;

            &:hover,
            &:focus {
              translate: -2px -2px;
              box-shadow: 4px 4px 0px 0px $primary;
            }
          }
          .unpinned {
            @extend .pinned;
            background-color: $secondary;
          }
          .delete {
            cursor: pointer;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.1s ease-in;
            border: solid $primary 2px;
            border-radius: 5px;
            background-color: $danger;
            box-shadow: 2px 2px 0px 0px $primary;

            &:hover,
            &:focus {
              translate: -2px -2px;
              box-shadow: 4px 4px 0px 0px $primary;
            }
          }
        }
        .done {
          padding: 0.5rem 1rem;
          border-radius: 0;
          border: solid 2px $primary;
          border-radius: 5px;
          transition: all 0.1s ease;
          background-color: $accent;
          font-weight: 700;
          box-shadow: 2px 2px 0px 0px $primary;
          cursor: pointer;

          &:hover {
            translate: -2px -2px;
            box-shadow: 4px 4px 0px 0px $primary;
          }
        }
      }
    }
  }
  .overlay {
    backdrop-filter: blur(30px);
    translate: 0;
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.479);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
