@import "/styles/utils/colors";
@import "/styles/utils/border-radii";

.container {
  z-index: 996;
  display: flex;
  align-items: flex-start;
  margin-top: 8vh;
  width: 4rem;
  height: 92vh;
  background-color: $secondary;
  border-right: solid 3px $primary;
  overflow: hidden;
  padding: 0.5rem;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  @media (max-width: 768px) {
    position: fixed;
    padding: 0;
    border: none;
    width: 0;
  }

  &:hover {
    width: 15rem;

    .list {
      .listItem {
        justify-content: flex-start;
        padding: 1.3rem 1rem;

        p {
          display: block;
        }
      }
    }
  }

  &.open {
    display: flex;
    width: 15rem;

    @media (max-width: 768px) {
      width: 20rem;
      border-right: solid 3px $primary;
      padding: 0.5rem;
    }

    .list {
      .listItem {
        justify-content: flex-start;
        padding: 1.3rem 1rem;
        border: 2px solid $primary;

        p {
          display: block;
        }
      }
    }
  }

  .list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    font-weight: bold;
    font-size: 1.2rem;
    color: $primary;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-top: 1rem;

    .listItem {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      padding: 0.6rem;
      cursor: pointer;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      border-radius: $rounded-3xl;
      border: 2px solid $primary;
      box-shadow: $secondary 2px 2px 0px;

      p {
        display: none;
      }

      &:hover {
        border: solid 2px $primary;
        box-shadow: $primary 5px 5px 0px;
      }
    }

    .activeTab {
      @extend .listItem;
      border: solid 2px $primary;
      box-shadow: $primary 2px 2px 0px;
      background-color: $accent-2;

      &:hover {
        box-shadow: $primary 5px 5px 0px;
      }
    }
  }
}

.overlay {
  display: none;

  @media (max-width: 768px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 995;
  }
}
