@font-face {
  font-family: FrederickatheGreat;
  src: url(../public/fonts/FrederickatheGreat-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Jackwrite;
  src: url(../public/fonts/Jackwrite/JackwriteThin-YzvOL.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: Jackwrite;
  src: url(../public/fonts/Jackwrite/Jackwrite-8MxjA.ttf);
  font-weight: normal;
}
@font-face {
  font-family: Jackwrite;
  src: url(../public/fonts/Jackwrite/JackwriteBold-BW1Yn.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Chomsky;
  src: url(../public/fonts/Chomsky-8MOa2.otf);
  font-weight: normal;
}
