@import "fonts";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid #1d1d1b89 2px;
    border-radius: 7px;
    width: 100%;
    max-width: 30rem;
    margin-top: 4vh;
    overflow-x: hidden;
    box-shadow: 4px 4px 0px 0px #1d1d1b3c;
    transition: all 0.1s ease-in;

    &:hover,
    &:focus {
        border: solid #1d1d1bfc 2px;
        translate: -7px -7px;
        box-shadow: 7px 7px 0px 0px #1d1d1bfc;
    }

    .form {
        .wrapper {
            display: flex;
            flex-direction: column;

            .titleWrapper {
                position: relative;

                .titleInput {
                    font-family: "Headline", Helvetica Neue,
                        sans-serif;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    border: none;
                    width: 100%;
                    padding: 0.5rem;
                    background: transparent;

                    &:focus {
                        outline: none;
                    }
                }
            }
            .bodyInput {
                font-family: "Jackwrite", sans-serif;
                background: transparent;
                outline: none;
                padding: 0.5rem;
                width: 100%;
                border: none;
                resize: none;
            }
        }
        .buttonWrapper {
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .done {
                padding: 0.5rem;
                border-radius: 0;
                border: solid 0.5px #1d1d1b6c;
                border-radius: 5px;
                transition: all 0.1s ease;
                background: transparent;

                &:hover {
                    translate: -2px -2px;
                    box-shadow: 2px 2px 0px 0px #1d1d1bfc;
                }
            }
            .pinIcon {
                cursor: pointer;
                scale: 0.9;
                margin-top: 5px;
                padding: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.1s ease-in;
                border-radius: 5px;
                border: solid #1d1d1b6c 0.5px;

                &:hover,
                &:focus {
                    translate: -2px -2px;
                    box-shadow: 2px 2px 0px 0px #1d1d1bfc;
                }
            }
        }
    }
}
