@import url("https://api.fontshare.com/v2/css?f[]=synonym@600,500,300,1,700,400&f[]=amulya@700,300,1,400,500&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Synonym", Helvetica Neue, sans-serif;
  background-color: #fef9ed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
