@import "fonts";

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 4vh;
    padding-left: 8vw;
    color: whitesmoke;
    background-color: #1d1d1bfc;

    .logo {
        font-family: "Chomsky", Helvetica, sans-serif;
        font-size: 2rem;
    }
}
