.container {
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background-image: url(/bg.png);
  background-attachment: local;
}

.main {
  padding: 4rem 6rem;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
